.main { height: 100vh; display: flex; align-items: center }
.color_uno { color: #99979c; }
.cursor { cursor: pointer; }
.logout {
  list-style: none;
}
.logout a { padding: 0px; }
body{
  overflow-x: hidden;
}
.no_seleccionable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}