.main { height: 100vh; display: flex; align-items: center }
.color_uno { color: #99979c; }
.cursor_pointer { cursor: pointer; }
.logout { list-style: none; }
.logout a { padding: 0px; }
.descripcion_direccion table{ width: 100%; text-align: center; font-size: 0.8rem; }
html, body {
  overflow-x: hidden;
  width: 100%;
}
.no_seleccionable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contenedor_datos {
  background-color: rgba(240, 240, 240, 0.3);
  height: 50vh;
  overflow: scroll;
}
